<div *ngIf="data" class="time-card">
    <div class="card-field">
        <label>Date:</label>
        <span>{{ data.date | date:'mediumDate' }}</span>
    </div>
    <div class="card-field">
        <label>Time Spent:</label>
        <span>{{ data.timeSpent }} hours</span>
    </div>
    <div *ngIf="data.ticket" class="ticket-section">
        <h4>Ticket Information</h4>
        <div class="card-field">
            <label>Ticket ID:</label>
            <span>{{ data.ticket.ticketId}}</span>
        </div>
        <div class="card-field">
            <label>Ticket Name:</label>
            <span>{{ data.ticket.name }}</span>
        </div>
        <div class="card-field">
            <label>Ticket Description:</label>
            <span>{{ data.ticket.description }}</span>
        </div>
    </div>
</div>