form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

mat-form-field {
    width: 100%;
}

button {
    align-self: flex-start;
}
